.uk-alert {
  -webkit-user-select: auto;
  -webkit-touch-callout: default;
  margin-bottom: 30px;
  padding: 16px 20px;
  font-size: 14px;
  background-color: #f2f4f8;
  box-shadow: rgba(0, 0, 0, 0.06) 4px 4px 8px 0px,
    rgb(255, 255, 255) -4px -4px 8px 0px;
  color: var(--textcolor);
  border: 0px;
  border-radius: 6px;
}
.uk-alert > :last-child {
  margin-bottom: 0;
}
