.uk-button {
  background-color: #f2f4f8;
  box-shadow: rgba(0, 0, 0, 0.06) 4px 4px 8px 0px,
    rgb(255, 255, 255) -4px -4px 8px 0px;
  color: var(--textcolor);
  letter-spacing: normal;
  border: 0px solid rgba(0, 0, 0, 0.06);
  display: block;
  width: 100%;
  text-align: center;
  padding: 16px 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.5px;
  border-radius: 6px;
  transition: 0.3s ease all;
}

.uk-button:hover,
.uk-button:focus {
  box-shadow: rgba(0, 0, 0, 0.06) 8px 8px 16px 0px,
    rgb(255, 255, 255) -8px -8px 16px 0px;
  outline: none;
}
.uk-button:active,
.uk-button.uk-active {
  box-shadow: rgba(0, 0, 0, 0.06) 8px 8px 16px 0px,
    rgb(255, 255, 255) -8px -8px 16px 0px;
}

.stickToBottom {
  position: absolute;
  bottom: 30px;
  width: 340px;
  max-width: 90%;
}
