.uk-button {
  background: var(--basecolor);
  box-shadow: 20px 20px 60px var(--darkcolor),
    -20px -20px 60px var(--lightcolor);
  color: var(--textcolor);
  letter-spacing: normal;
  border: 0px solid rgba(0, 0, 0, 0.06);
  display: block;
  width: 100%;
  text-align: center;
  min-height: 40px;
  padding: 0 15px;
  line-height: 100px;
  font-size: 30px;
  border-radius: 30px;
}

.uk-button:hover,
.uk-button:focus {
  background: linear-gradient(145deg, #4da7db, #5bc6ff);
  outline: none;
}
.uk-button:active,
.uk-button.uk-active {
  background: linear-gradient(145deg, #4da7db, #5bc6ff);
}

.stickToBottom {
  position: absolute;
  bottom: 30px;
  width: 90%;
}
