.uk-form > :last-child {
  margin-bottom: 0;
}
.uk-form input[type='text'],
.uk-form input[type='password'] {
  font-size: 16px;
  border-radius: 6px;
  max-width: 100%;

  position: relative;
  box-shadow: rgba(0, 0, 0, 0.06) 3px 3px 6px 0px inset,
    rgb(255, 255, 255) -3px -3px 6px 0px inset;
  background-color: #f2f4f8;

  padding: 14px 19px;
  border: 0px;
  /* background: #55b9f3;
  box-shadow: inset 20px 20px 60px #489dcf, inset -20px -20px 60px #62d5ff;
  -webkit-transition: all linear 0.2s; */
  transition: all linear 0.2s;
  color: var(--textcolor);
}

.uk-form input[type='text']:focus,
.uk-form input[type='password']:focus {
  outline: 0;
}

.uk-form-row:before,
.uk-form-row:after {
  content: ' ';
  display: table;
}
.uk-form-row:after {
  clear: both;
}
.uk-form-row + .uk-form-row {
  margin-top: 15px;
}

.uk-form-password {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.uk-form-password-toggle {
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -14px;
  font-size: 14px;
  background-color: #f2f4f8;
  box-shadow: rgba(0, 0, 0, 0.06) 4px 4px 8px 0px,
    rgb(255, 255, 255) -4px -4px 8px 0px;
  padding: 4px 8px;
  color: var(--textcolor);
  cursor: pointer;
}
.uk-form-password-toggle:hover {
  color: var(--textcolor);
  text-decoration: none;
}
.uk-form-password > input {
  padding-right: 80px !important;
}
