.uk-navbar {
  width: 340px;
  max-width: 90%;
  margin: auto;
}

.uk-navbar-brand {
  display: inline-block;
  padding-top: 30px;
  color: var(--textcolor);
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: -1px;
  font-size: 26px;
  margin-bottom: 30px;
  margin-top: 32px;
}
.uk-navbar-brand:hover,
.uk-navbar-brand:focus {
  color: var(--textcolor);
  text-decoration: none;
  outline: none;
}
