.uk-navbar {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.uk-navbar-brand {
  display: inline-block;
  padding-top: 30px;
  color: var(--textcolor);
  font-size: 30px;
  letter-spacing: 0.5px;
}
.uk-navbar-brand:hover,
.uk-navbar-brand:focus {
  color: var(--textcolor);
  text-decoration: none;
  outline: none;
}
